*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/unlib-signin/google-services.json
/app/src/main/res/raw/app_config.catc
/app/google-services.json
/app/_google-services.json
/app/release/app-release.aab
/.kotlin/sessions/kotlin-compiler-18301876714100120217.salive
