<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.astler.unlib_test">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppUnliDarkTheme"
        tools:ignore="AllowBackup">

        <activity
            android:exported="true"
            android:name="dev.astler.unlib.ui.activity.SplashActivityUnLib"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:theme="@style/AppUnliDarkTheme" />
        <activity android:name=".activity.ShortcodeTextActivity" />
        <activity android:name=".activity.TestMenu" android:theme="@style/AppUnliDarkTheme"  />
        <activity android:name=".activity.ImageLoadersActivity" />
        <activity android:name=".activity.ads.AdsOpenItemListActivity" />
        <activity android:name=".activity.signin.SignInTestActivity" />
        <activity android:name=".activity.ads.AdsTestMenu" android:theme="@style/AppUnliDarkTheme"  />
        <activity android:name=".activity.AsyncListActivity" android:theme="@style/AppUnliDarkTheme"  />
        <activity android:name=".activity.WindowTestActivity" android:theme="@style/AppUnliDarkTheme"  />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1536736011746190~2290849784" />

        <service
            android:name="dev.astler.unlib.services.UnLibFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="misk_channel" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

    </application>

</manifest>